.hero {
  background-image: url(../../image/Bitmap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;

  @mixin button-style {
    background: #fcb72b;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    border: none;
  }

  @mixin button-hover {
    color: #fcb72b;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    border: 3px solid #fcb72b;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding-top: 153px;
    padding-bottom: 152px;
    position: relative;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: start;

      &__title {
        width: 500px;
        color: #fff;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -2.5px;
        margin-bottom: 40px;
      }

      &__text {
        width: 405px;
        color: #fff;
        font-family: "Lexend Deca";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 40px;
        margin-left: 95px;
      }
      &__btn {
        @include button-style();
        padding: 14px 39px;
        margin-left: 95px;

        &:hover {
          @include button-hover();
          background-color: unset;
          transition: 0.5s linear;
          padding: 11px 36px;
        }
      }
    }
  }
  &__img-first {
    position: absolute;
    top: 348px;
    left: -166px;
  }
  &__img-second {
    position: absolute;
    top: 348px;
    left: 540px;
  }
}
